body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  transition: background 0.5s ease;
}

#toggleBtn {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 10px 20px;
  background-color: #ffffffaa;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  z-index: 100;
}

.split-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.morning-side, .night-side {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  color: white;
}

.morning-side {
  background: url(https://cdna.artstation.com/p/assets/images/images/034/800/298/large/gion-pokemoncitys.jpg?1613267802);
}

.night-side {
  background: url(https://wallpaperaccess.com/full/3551101.png);
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-top: 20px;
  font-size: 1.5rem;
}

ul {
  list-style-type: circle;
  margin-left: 20px;
}

.trainer-sprite {
  width: 80px;
  image-rendering: pixelated;
  margin-top: 10px;
}

body.night .morning-side {
  display: none;
}

body.night .night-side {
  display: block;
}

body:not(.night) .night-side {
  display: none;
}

body:not(.night) .morning-side {
  display: block;
}
