
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  transition: background 0.5s ease;
}

#toggleBtn {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 10px 20px;
  background-color: #ffffffaa;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  z-index: 100;
}

.split-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.morning-side,
.night-side {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  color: white;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.morning-side {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(https://th.bing.com/th/id/R.7d68abd537942d95ac5b2cbb53ed3cf0?rik=GV%2btJJCVIx1i7Q&riu=http%3a%2f%2forig12.deviantart.net%2fb4f8%2ff%2f2015%2f092%2f5%2fe%2fpokemon_sprite_gif___national_park__day__by_loupii-d79aauf.jpg&ehk=a1DU7EwcuHAq30E8M2xyqt3PDlpJd%2fCTNj8khzzqJAc%3d&risl=&pid=ImgRaw&r=0);
  background-size: cover;
  background-position: center;
}

.night-side {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cad4b52e-f6b1-432f-9035-a5f4853bcf15/d79j5ub-d5d98d2d-cb50-4806-a67b-103b4d08280b.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi9jYWQ0YjUyZS1mNmIxLTQzMmYtOTAzNS1hNWY0ODUzYmNmMTUvZDc5ajV1Yi1kNWQ5OGQyZC1jYjUwLTQ4MDYtYTY3Yi0xMDNiNGQwODI4MGIuZ2lmIn1dXX0.WouG2UZ_AiFs_MC_IvMalgNT6-ip_KjKFSdTFtqn-_Y);
  background-size: cover;
  background-position: center;
}

.heading {
  margin-bottom: 5px;
  font-size: 2.5rem;
  font-weight: bold;
}

.intro {
  margin-bottom: 40px;
  max-width: 600px;
  font-size:1.1rem;
}

.columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 90px;
  width: 100%;
  max-width: 1000px;
  text-align: left;
  font-size: 1.1rem;
}

.columns h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.morning-gif-container {
    
    margin-top: 60px;
    text-align: center;
}

.morning-gif{
    
    max-width: 50%;
    height: auto;
    padding: 60px;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.night-gif-container{
    
    margin-top: 60px;
    text-align: center;
}

.night-gif {
    
    max-width: 100%;
    height: auto;
    padding: 60px;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    
}

ul {
  list-style-type: circle;
  padding-left: 50px;
}



body.night .morning-side {
  display: none;
}
body.night .night-side {
  display: flex;
}
body:not(.night) .night-side {
  display: none;
}
body:not(.night) .morning-side {
  display: flex;
}
